/* 
  Archivo: styles.css
  Estilos generales de la aplicación

  Creado por: Kevin Danilo, Marcos López el 07/10/2024

  Historial de cambios:
  07/10/2024 - Creación del archivo
*/
@import url('../css/variables.css');

body {
  background-color: var(--dark-background-color);
}

header {
  border-bottom: 1px solid var(--dark-shadow-color);
}

header>div>label {
  color: var(--dark-text-primary);
}

nav>ul {
  background-color: var(--dark-card-background-color);
  box-shadow: 0 0 10px var(--dark-shadow-color);

  >li>a {
    color: var(--dark-text-primary);

    &:hover {
      color: var(--dark-hover-primary);
    }
  }
}

#form-search {
  >input[type="search"] {
    border: 1px solid var(--dark-shadow-color);
  }
}

.btn-search {
  background-color: var(--dark-secondary-color);

  &:hover {
    background-color: var(--dark-hover-secondary);
  }
}

body>main>h1, h2 {
  color: var(--dark-text-primary);
}

.container-photos figure {
  >figcaption {
    background-color: var(--dark-secondary-color);
  }

  img:hover {
    box-shadow: 0 0 10px var(--dark-text-primary);
  }
}

.container-card {
  background-color: var(--dark-image-card-background);
  box-shadow: 0 0 10px var(--dark-shadow-color);

  h2 {
    color: var(--dark-text-primary);
  }
}

.icon-user-circle,
.article-p {
  color: var(--dark-text-primary);
}

#article-account {
  >a {
    color: var(--dark-text-primary);

    &:hover {
      text-decoration: none;
    }
  }
}

.container-card-search {
  background-color: var(--dark-image-card-background);
  box-shadow: 0 0 10px var(--dark-shadow-color);

  img {
    &:hover {
      box-shadow: 0 0 10px var(--dark-text-primary);
    }
  }

  a {
    color: var(--dark-text-primary);
  }

  p {
    color: var(--dark-text-primary);
  }
}

.text-album-impreso {
  color: var(--dark-text-primary);
}

table {
  box-shadow: 0 4px 8px var(--dark-shadow-color);
}

#btn-card-search {
  background-color: var(--dark-primary-color);
  color: var(--color-negro);

  &:hover {
    background-color: var(-dark-hover-primary);
  }
}

main>form {
  box-shadow: 0 0 10px var(--dark-primary-color);
}

#menu-usu a {
  color: var(--dark-text-primary);
}

#menu-usu a:hover {
  background-color: var(--dark-hover-primary);
  color: var(--color-negro);
}