/* 
  Archivo: styles.css
  Estilos generales de la aplicación

  Creado por: Kevin Danilo, Marcos López el 07/10/2024

  Historial de cambios:
  07/10/2024 - Creación del archivo
*/
/* Importación de Google Fonts para los iconos */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&display=swap');
@import url('../css/variables.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: sans-serif;
  background-color: var(--background-color);
}

img {
  height: auto;
  max-width: 100%;
}

/* Estilos para el header ------------------------- */
header {
  padding: 1em;
  border-bottom: 1px solid var(--border-color);
}

header>div {
  >a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5em;
  }
  
  >label {
    font-size: 2em;
    cursor: pointer;
  }
  
  >input {
    display: none;

    &:checked~nav>ul {
      max-height: 100vh; /* Mostrar el menú */
    }
  }
}

nav>ul {
  list-style-type: none;
  max-height: 0; /* por defecto el menú está acultado */
  overflow: hidden;
  background-color: var(--card-background-color);
  box-shadow: 0 0 10px var(--shadow-color);

  >li>a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color .3s;

    &:hover {
      color: var(--hover-primary);
    }
  }
}

header img {
  width: 2em;
}

/* barra de navegación simple */
#form-search {
  text-align: center;
  margin-top: 1.5em;

  >input[type="search"] {
    border: 1px solid var(--border-color);
    padding: .75em;
    width: 17em; /* ancho del buscador simple */
  }
}

/* botón buscar de la barra de navegación */
.btn-search {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: .75em 1em;
  border: none;
  border-radius: .5em;
  margin-left: .5em;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-secondary);
  }
}

/* Estilos index --------------------------------------------- */
body>main>h1 {
  text-align: center;
  color: var(--text-color);
  margin: 1em 0;
}

.container-photos>a {
  text-decoration: none;
}

.container-photos figure {
  margin-bottom: 1.5em;

  >figcaption {
    background-color: var(--secondary-color);
    padding: .75em;
    color: var(--text-color);
    text-align: center;
    font-weight: 600;
  }

  img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
}

/* Estilos Foto Detalle ------------------------------------- */
.container-card {
  background-color: var(--card-background-color);
  margin-top: 1em;
  padding: 1em;

  img {
    border-radius: .5em;
    margin-bottom: 1em;
  }

  h2 {
    margin-bottom: 1em;
  }

  >button {
    margin-top: 1em;
  }
}

.article-p {
  line-height: 3em;
}

/* Icon account_circle de página foto detalle */
#article-account {
  text-align: center;
  margin-bottom: 1em;
  >a {
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 1em;

    &:hover {
      text-decoration: none;
    }
  }
}

#icon-account {
  font-size: 4em;
}

/* estilos resultado búsqueda avanzada -------------------------- */
.container-card-search {
  background-color: var(--card-background-color);
  margin-top: 1em;
  padding: 1em;
  border-radius: .5em;
  box-shadow: 0 0 10px var(--shadow-color);
  text-align: center;
  margin-bottom: 2em;

  img {
    border-radius: .5em;
    margin-bottom: 1em;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
  }

  h2 {
    margin-bottom: 1em;
  }

  p {
    line-height: 3em;
  }

  >button {
    margin-top: 1em;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }
}

#btn-card-search {
  display: block;
  margin: 0 auto;
  width: 16em;
  margin-bottom: 4em;
}

/* estilos solicitar álbum impreso --------------------------- */
.text-album-impreso {
  text-align: center;
  text-wrap: pretty;
  color: var(--text-color);
  line-height: 1.5em;
  margin-top: 1em;
}

/* Estilos tabla --------- */
table {
  border-collapse: collapse;
  width: 100%; 
  max-width: 600px; 
  margin: 20px auto; /* centrar tabla */
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--shadow-color);
}

/* Encabezado de la tabla */
thead {
  background-color: #333;
  color: #ffffff;
}

th {
  padding: 12px 16px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

/* Cuerpo de la tabla */
tbody tr {
  border-bottom: 1px solid var(--border-color);
}

td {
  padding: 12px 16px;
  font-size: 14px;
  color: var(--text-color);
}

/* Alternar colores en filas para mejor legibilidad */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover para filas */
tbody tr:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

/* Estilo para la primera columna */
td:first-child {
  font-weight: bold;
}

/* Estilo para la segunda columna */
td:last-child {
  text-align: right;
}

/* Estilos botones ----------------------------------------- */
.btn {
  display: inline-block;
  padding: .75em;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: .5em;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background-color .3s;
  width: 100%;

  &:hover {
    background-color: var(--hover-primary);
  }
}

/* Estilos formulario ---------------------------------------- */
main>form {
  background-color: var(--card-background-color);
  box-shadow: 0 0 10px var(--shadow-color);
  border-radius: .5em;
  padding: 1em;
}

.main-form {
  padding: 1em;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;

  >label {
    font-weight: bold;
    margin-bottom: .5em;
  }
}

.form-input input,
select, textarea {
  padding: 1em;
  border: 1px solid var(--border-color);
}

.form-footer {
  text-align: center;
  margin-top: 2em;

  >a {
    color: var(--text-color);
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}

.form-info {
  margin: 1.5em 0;
  color: var(--text-color);
  text-wrap: pretty;
  font-weight: 600;
}

/* formulario solicitar álbum ----- */
.obligatorio {
  color: #f00;
  font-weight: bold;
}

#container-form-impreso {
  > p {
    margin-bottom: 1em;
    font-weight: 600;
  }

  >fieldset {
    padding: 1em;
    border: 2px solid var(--border-color);
    margin-bottom: 1.5em;
    >legend {
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}

#color-impreso {
  padding: .2em;
  height: 4em;
  width: 4em;
  border: 1px solid var(--border-color);
}

#copias {
  width: 6em;
}

#outvol, #outvol-span {
  text-align: center;
  font-weight: 600;
}

.impresion-color>label {
  font-weight: bold;
  margin-right: 1em;
}

/* Footer ---------------------------------------------------- */
.container-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  text-wrap: balance;
  line-height: 3em;
  padding: 1em;
}

/* ---------------------------------------------- */
/* MEDIA QUERIES                                  */
/* ---------------------------------------------- */
@media screen and (width >=600px) {
  /* Estilos index */
  .container-photos {
    padding: 1em;
  }

  .container-photos figure>figcaption {
    border-radius: 0.5em;
  }

  body>main>h1 {
    margin: 1em 0 0 0;
  }
}

@media screen and (width >768px) {
  /* header y nav */
  header>div>label {
    display: none;
  }

  header>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* mostrar menú completo en horizontal */
  nav>ul {
    display: flex;
    max-height: none; 
    /* quitar los estilos de la parte móvil */
    background-color: var(--background-color);
    box-shadow: none;
  }

  #form-search input[type="search"] {
    width: 30em; /* ancho del buscador simple */
    font-size: 1em;
  }

  /* botón buscar del buscador simple */
  .btn-search {
    font-size: 1em;
  }

  /* index */
  .container-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
  }

  .container-photos figure {
    margin-bottom: 0;

    >img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: .5em;
    }
  }

  /* formulario */
  .main-form {
    padding: 4em;
  }

  main>form {
    margin: 0 auto; /* centrar formulario */
    padding: 2em;
  }

  #container-form-impreso {
    width: 50em;
    margin-bottom: 4em;
  }

  /* foto detalle */
  .container-card {
    width: 100%;
    max-width: 50em;
    display: block;
    margin: 0 auto;
    border-radius: .5em;
    box-shadow: 0 0 10px var(--shadow-color);
    text-align: center;
    margin-bottom: 4em;

    >p {
      font-size: 18px;
    }

    >button {
      width: 15em;
    }
  }

  /* contenedor texto solicitar album */
  .container-text-impreso {
    margin: 0 4em;
  }

  /* página resultado búsqueda */
  #container-main-search {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
  }

  .container-card-search {
    margin: 0;

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  }
}

@media screen and (width >=1280px) {
  header img {
    width: 4em;
  }

  body>main>h1 {
    margin-top: 3em;
    margin-bottom: 1em;
  }

  /* index */
  .container-photos {
    padding: 0 2em 2em;
    grid-template-columns: repeat(3, 1fr);

    figure>figcaption {
      font-size: 20px;
    }
  }

  /* formulario */
  main>form {
    width: 40em;
  }

  /* text de pagina album impreso */
  .text-album-impreso {
    font-size: 18px;
    font-weight: 600;
  }

  /* resultado búsqueda */
  #container-main-search {
    padding: 2em;
    grid-template-columns: repeat(3, 1fr);
  }

  .container-card-search p {
    font-size: 18px;
  }

  .btn {
    padding: 1em;
  }
}